[dotenv@17.2.3] injecting env (13) from .env -- tip: Γ£à audit secrets and track compliance: https://dotenvx.com/ops
-- AlterEnum
ALTER TYPE "RidePaymentStatus" ADD VALUE 'AUTHORIZED';

-- AlterTable
ALTER TABLE "Conversation" ALTER COLUMN "driverLastReadAt" SET DATA TYPE TIMESTAMP(6),
ALTER COLUMN "riderLastReadAt" SET DATA TYPE TIMESTAMP(6);

-- AlterTable
ALTER TABLE "User" DROP COLUMN "adminGrantEndsAt",
ADD COLUMN     "freeMembershipEndsAt" TIMESTAMPTZ(6);

-- CreateIndex
CREATE UNIQUE INDEX "Ride_clientRequestId_key" ON "Ride"("clientRequestId");

